*.ipynb linguist-language=Python
.ipynb_checkpoints/* linguist-documentation
dev.ipynb linguist-documentation
*.onnx filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
